.messages {
    display: flex;
}
.messages .messages-list {
    flex-basis: 30%;
}
.messages .messages-dialogs {
    flex-basis: 70%;
}
.messages .messages-dialogs .messages-dialogs-item {
    display: flex;
}
.messages .messages-dialogs .messages-dialogs-item .messages-dialogs-item-icon {
    padding-right: 25px;
}
.messages .messages-dialogs .messages-dialogs-item .messages-dialogs-item-icon img {
    width: 40px;
}
.messages .messages-list a {
    text-decoration: none;
    color: #000000;
}
.messages .messages-list a.active {
    font-weight: bold;
}
.messages .messages-dialogs .messages-dialogs-item .messages-dialogs-item-text {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 25px;
}
.messages .messages-dialogs .messages-dialogs-item .messages-dialogs-item-text:before {
    content: '';
    position: absolute;
    left: -21px;
    top: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid red;
    transform: rotate(-90deg);
}
.messages .messages-dialogs .messages-dialogs-item .messages-dialogs-item-text p.answer {
    text-align: right;
}