input.error,
textarea.error {
    position: relative;
    border: 1px solid red;
}
span.list-error {
    color: red;
}
.list-error {
    position: relative;
    border: 1px solid red;
    color: red;
}